<%- include ('partials/head.ejs') %>
<%- include ('partials/nav.ejs') %>
<%- include ('partials/banner.ejs') %>

<main>
    <article>
        <h3>Welcome to <%= heading %>'s page.</h3>
        <p class="funParagraph">&para; Doug is a nine year old pug. He loves cheeseburgers and cuddles.</p>
        <p>&para; Here is an image of Doug enjoying a car ride.</p>
        <img src="images/<%= imageName %>.jpg" alt="<%= heading %>" width="75%" height="auto" id="articleImage">
        
    </article>
</main>

<%- include ('partials/footer.ejs') %>