<%- include ('partials/head.ejs') %>
<%- include ('partials/nav.ejs') %>
<%- include ('partials/banner.ejs') %>

<main>
    <article>
        <h3>Welcome to the home page.</h3>
        <p class="funParagraph">&para; Please click on an image of an animal to learn more.</p>
        <p>&para; Here is an image of Teddy and Doug chilling on the couch.</p>
        <img src="images/<%= imageName %>.jpg" alt="Teddy and Doug" width="75%" height="auto" id="articleImage">
    </article>
</main>

<%- include ('partials/footer.ejs') %>